.MainScreenHome{
  background-color: #3b83bd;
  height: 800px;
  text-align: center;
  .TitleOfTheMainScreen{
    background-color: #006696;
    padding-top: 8px;
    padding-bottom: 8px;
    
    .TextOfTheTitleOnMainScreen{
      color: white;
    }
  }
  .GeneralCircleOfMainScreen{
    width: 470px;
    height: 470px;
    background-color: white;
    border-radius: 400px;
    margin-left: 650px;
    .BtnEntrarMainScreen{
      margin-top: 300px;
    }
  }
}



