body{
    background-color: #006696;

}
.MainLoginMovil{
    .ImgLogoMovil{
        width: 20%;
        height: 20%;
    }
    .ButtonLoginMovil{
        padding: 10px 10px;
        margin: 20px 10px;
        .ImgButtonLoginMovil{
            width: 3%;
            height: 3%;
        }
    }
    
}