.GeneralFloors {
    .HeaderOfFloors {
        background-color: #006696;
        display: flex;
        .BtnToGoBack {
            
            .IconToGoBack {
                color: white;
            }
        }

        .SpaceForTheTitle {
            // text-align: center;
            // justify-content: center;
            margin: auto;
            .HeaderTextOfScreenFloor {
                color: white;
            }
        }
    }
    .BtnOfFloors {
        .BtnOfEachFloor {
            background-color: #939597;
            width: 1440px;
        }
    }
}
