.MainScreenBookingMovile{
 .GeneralHeaderOfBookingMovil{
    background-color: #006696;
    .TextOfHeader{
        color: white;
        font-size: 7ch;
    }
 }
 .GeneralFormOfBookingMovil{
    .FormName{
        background-color: #0071AE;
        .TextOfNameOnForm{
            color: white;
            font-size: 3ch;
        }
    }
 }
}