.MainScreenBookingMovile{
 .GeneralHeaderOfBookingMovil{
    background-color: #006696;
    .TextOfHeader{
        color: white;
        font-size: 7ch;
    }
 }
 .GeneralFormOfBookingMovil{
    .FormName{
        background-color: #0071AE;
        .TextOfNameOnForm{
            color: white;
            font-size: 3ch;
        }
    }
    .InsideForm{
        
        margin-top: 30px;
        .LabelForm{
            display: block;
            margin-bottom: 9px;
            .BtnList{
                width: 200px,
                
            }
        }
    }
    .BtnToBooking{
        margin-top: 30px;
        .BtnReservar{
            background-color: #006696;
            color: white;
        }
    }
 }
}
